header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.navbar li {
    margin-left: 10px;
}

header .header-icon .login-link {
    margin-left: 10px;
}